<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" href="/images/website_icon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/editProfile.css">
    
</head>
<body>
<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo"><strong>Edit Profile</strong></div>
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/dashboard">Dashboard</a></li>
		<% if (user.batch==1){%>
			<li><a href="/freeTimeScheduler/eveningLab">Morning Theory & Evening Lab</a></li>
		<%}%>
		<% if (user.batch==0){%>
			<li><a href="/freeTimeScheduler/morningLab">Morning Lab & Evening Theory</a></li>
		<%}%>
		<% if (user.batch==1){%>
			<li><a href="/freeTimeScheduler/freeSlots/EveningLab">All Events</a></li>
		<%}%>
		<% if (user.batch==0){%>
			<li><a href="/freeTimeScheduler/freeSlots/MorningLab">All Events</a></li>
		<%}%>
		<li><a href="/projectsCollaborator/projectsView">Projects View</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav> 
<br><br><br><br>
<div id="editProfileDiv" class="container">
    <form action="/editProfile/<%=user.regno%>" method="POST" enctype="multipart/form-data">
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Full Name</label>
                        <input type="text" class="form-control fullname" name="fullname" placeholder="Enter Fullname" value="<%= typeof user.fullname != 'undefined' ? user.fullname : '' %>">
                    </div>
					<div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Username</label>
                        <input type="text" class="form-control username" name="username" placeholder="Enter Username" value="<%= typeof user.username != 'undefined' ? user.username : '' %>">
                    </div>
                    <div class="form-group w-75">
                        <label class="col-form-label col-form-label-lg ">Password</label>
                        <input type="password" class="form-control password" name="password" placeholder="Enter Password" value="<%= typeof user.password != 'undefined' ? user.password : '' %>">
                    </div>
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Profile Picture Upload</label>
                        <input type="file" class="form-control imageUpload" name="imageUpload" accept="image/*"  >
                    </div> 
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Skill Set</label>
                        <input type="text" class="form-control skillset" name="skillset" placeholder="Enter Skill Set" value="<%= typeof user.skillset != 'undefined' ? user.skillset : '' %>">
                    </div>  
                    <div class="form-group w-75 align-center">
                            <label class="col-form-label col-form-label-lg">Subdomains</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control subdomain1 w-80" name="subdomain1" placeholder="Sub-Domain 1" value="<%= typeof user.subdomain1 != 'undefined' ? user.subdomain1 : '' %>">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control subdomain2 w-80" name="subdomain2" placeholder="Sub-Domain 2" value="<%= typeof user.subdomain2 != 'undefined' ? user.subdomain2 : '' %>">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control subdomain3 w-80" name="subdomain3" placeholder="Sub-Domain 3" value="<%= typeof user.subdomain3 != 'undefined' ? user.subdomain3 : '' %>">
                            </div>
                            
                        </div>
                        
                    </div>           
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg updateProfileBtn">Update Profile</button>
                    </div>
                    <br>
    </form>
</div>
<%- include ('./partials/footer.ejs'); -%>