<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Slots Morning Lab Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" href="/images/website_icon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/freeSlotsMorningLab.css">
  </head>
  <body>
    
     <nav>
	      <input id="nav-toggle" type="checkbox">
	      <div class="logo"><strong>Timetable Scheduler</strong></div>
        <ul class="links">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/freeTimeScheduler/today/MorningLab">Today Events</a></li>
          <li><a href="/projectsCollaborator/projectsView">Project Collaborator</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
    </nav>
    <br><br><br><br>
    <% result.forEach(res=>{ %> <% switch(res.freeSlot) { case '11' : %>
    <li>Monday</li>
    <li>08:00 AM - 09:30 AM</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '12' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '13' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '14' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '15' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '16' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '17' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '18' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '21' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '22' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '23' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '24' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '25' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '26' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '27' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '28' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '31' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '32' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '33' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '34' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '35' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '36' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '37' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '38' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '41' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Task - <%=res.task%></li>
    <li>Thursday</li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '42' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '43' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '44' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '45' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '46' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '47' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '48' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '51' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '52' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '53' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '54' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '55' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    > 
    <% break; case '56' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '57' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '58' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/MorningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %>
<%- include ('./partials/footer.ejs'); -%>
