<%- include ('./partials/header.ejs'); -%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/profile">Profile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " href="/">Home</a>
            </li>
			<% if (user.batch==1){%>
			<li class="nav-item active">
                <a class="nav-link" href="/freeTimeScheduler/MTEL">MorningTheoryEveningLab</a>
            </li>
			<%}%>
			<% if (user.batch==0){%>
			<li class="nav-item active">
                <a class="nav-link" href="/freeTimeScheduler/MLET">MorningLabEveningTheory</a>
            </li>
			<%}%>
			<li class="nav-item active">
                <a class="nav-link" href="/freeTimeScheduler/freeSlots">Free Slots</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
    </div>
</nav>
    <% result.forEach(res=>{ %> <% switch(res.freeSlot) { case '11' : %>
    <li>Monday</li>
    <li>08:00 AM - 09:30 AM</li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '12' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '13' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '14' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '15' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '16' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '17' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '18' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Monday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '21' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '22' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '23' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '24' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '25' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '26' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '27' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '28' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Tuesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '31' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '32' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '33' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '34' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '35' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '36' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '37' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '38' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Wednesday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '41' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Task - <%=res.task%></li>
    <li>Thursday</li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '42' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '43' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '44' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '45' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '46' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '47' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '48' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Thursday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '51' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '52' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '53' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '54' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '55' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '56' : %>
    <li>04:00 PM - 04:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '57' : %>
    <li>05:00 PM - 05:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '58' : %>
    <li>06:00 PM - 06:45 PM</li>
    <li>Friday</li>
    <li>Task - <%=res.task%></li>
    <a href="/freeTimeScheduler/edit/all/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %>
<%- include ('./partials/footer.ejs'); -%>
