<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today Events Evening Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" href="/images/website_icon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/todayEveningLab.css">
  </head>
  <body>
    <nav>
	      <input id="nav-toggle" type="checkbox">
	      <div class="logo"><strong>Timetable Scheduler</strong></div>
        <ul class="links">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/freeTimeScheduler/freeSlots/EveningLab">All Events</a></li>
          <li><a href="/">Project Collaborator</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
    </nav>
    <br><br><br><br>
    <% var d = new Date(); %> <% var n = d.getDay(); %>
    <% if(d.getDay()==0) { %>
    <h1>Sunday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==1) { %>
    <h1>Monday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==2) { %>
    <h1>Tuesday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==3) { %>
    <h1>Wednesday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==4) { %>
    <h1>Thursday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==5) { %>
    <h1>Friday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(d.getDay()==6) { %>
    <h1>Saturday, <%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% } %> <% if(n==1) {%> <% result.forEach(res=>{ %> <% switch(res.freeSlot)
    { case '11' : %>
    <li>08:00 AM - 08:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"><button>Add/Edit Task</button></a>

    <% break; case '12' : %>
    <li>09:00 AM - 09:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '13' : %>
    <li>10:00 AM - 10:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '14' : %>
    <li>11:00 AM - 11:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '15' : %>
    <li>12:00 PM - 12:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '16' : %>
    <li>02:00 PM - 03:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '17' : %>
    <li>04:00 PM - 05:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '18' : %>
    <li>05:30 PM - 07:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==2) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '21' : %>
    <li>08:00 AM - 08:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '22' : %>
    <li>09:00 AM - 09:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '23' : %>
    <li>10:00 AM - 10:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '24' : %>
    <li>11:00 AM - 11:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '25' : %>
    <li>12:00 PM - 12:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '26' : %>
    <li>02:00 PM - 03:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '27' : %>
    <li>04:00 PM - 05:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '28' : %>
    <li>05:30 PM - 07:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==3) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '31' : %>
    <li>08:00 AM - 08:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '32' : %>
    <li>09:00 AM - 09:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '33' : %>
    <li>10:00 AM - 10:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '34' : %>
    <li>11:00 AM - 11:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '35' : %>
    <li>12:00 PM - 12:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '36' : %>
    <li>02:00 PM - 03:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '37' : %>
    <li>04:00 PM - 05:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '38' : %>
    <li>05:30 PM - 07:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==4) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '41' : %>
    <li>08:00 AM - 08:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '42' : %>
    <li>09:00 AM - 09:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '43' : %>
    <li>10:00 AM - 10:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '44' : %>
    <li>11:00 AM - 11:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '45' : %>
    <li>12:00 PM - 12:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '46' : %>
    <li>02:00 PM - 03:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '47' : %>
    <li>04:00 PM - 05:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '48' : %>
    <li>05:30 PM - 07:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==5) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '51' : %>
    <li>08:00 AM - 08:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '52' : %>
    <li>09:00 AM - 09:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '53' : %>
    <li>10:00 AM - 10:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '54' : %>
    <li>11:00 AM - 11:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '55' : %>
    <li>12:00 PM - 12:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '56' : %>
    <li>02:00 PM - 03:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '57' : %>
    <li>04:00 PM - 05:30 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '58' : %>
    <li>05:30 PM - 07:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/EveningLab/<%=res.freeSlotId%>">
    <button>Add/Edit Task</button></a>
    <% break; } %> <% }) %> <% } %>
  <%- include ('./partials/footer.ejs'); -%>
