<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today</title>
  </head>
  <body>
    
    <% var d = new Date(); %> <% var n = d.getDay(); %>
    <h1><%=d.getDate()%>-<%=d.getMonth() +1%>-<%=d.getFullYear()%></h1>
    <% if(d.getDay()==0) { %>
    <h1>Sunday</h1>
    <% } %> <% if(d.getDay()==1) { %>
    <h1>Monday</h1>
    <% } %> <% if(d.getDay()==2) { %>
    <h1>Tuesday</h1>
    <% } %> <% if(d.getDay()==3) { %>
    <h1>Wednesday</h1>
    <% } %> <% if(d.getDay()==4) { %>
    <h1>Thursday</h1>
    <% } %> <% if(d.getDay()==5) { %>
    <h1>Friday</h1>
    <% } %> <% if(d.getDay()==6) { %>
    <h1>Saturday</h1>
    <% } %> <% if(n==1) {%> <% result.forEach(res=>{ %> <% switch(res.freeSlot)
    { case '11' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '12' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '13' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '14' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '15' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '16' : %>
    <li>04:00 PM - 04:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '17' : %>
    <li>05:00 PM - 05:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '18' : %>
    <li>06:00 PM - 06:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==2) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '21' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '22' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '23' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '24' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '25' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '26' : %>
    <li>04:00 PM - 04:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '27' : %>
    <li>05:00 PM - 05:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '28' : %>
    <li>06:00 PM - 06:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==3) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '31' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '32' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '33' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '34' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '35' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '36' : %>
    <li>04:00 PM - 04:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '37' : %>
    <li>05:00 PM - 05:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '38' : %>
    <li>06:00 PM - 06:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==4) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '41' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '42' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '43' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '44' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '45' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '46' : %>
    <li>04:00 PM - 04:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '47' : %>
    <li>05:00 PM - 05:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '48' : %>
    <li>06:00 PM - 06:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %> <% if(n==5) {%> <% result.forEach(res=>{ %>
    <% switch(res.freeSlot) { case '51' : %>
    <li>08:00 AM - 09:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >

    <% break; case '52' : %>
    <li>10:00 AM - 11:30 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '53' : %>
    <li>11:30 AM - 01:00 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '54' : %>
    <li>02:00 PM - 02:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '55' : %>
    <li>03:00 PM - 03:45 PM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '56' : %>
    <li>04:00 PM - 04:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '57' : %>
    <li>05:00 PM - 05:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; case '58' : %>
    <li>06:00 PM - 06:45 AM</li>
    <li><%=res.task%></li>

    <a href="/freeTimeScheduler/edit/<%=res.freeSlotId%>"
      ><button>Add/Edit Task</button></a
    >
    <% break; } %> <% }) %> <% } %>
  </body>
</html>
